/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Переменные тёмной темы */
  background-image: url(../images/cover-image-dark.png);
  --basic-text-color:#F1B2CE;
  --rec-visibility: visible;
  --header-menu-text-color:#FF0070;
  --button-border-color:#FF0070;
  --title-1-color:#DB00FF;
  --title-2-color:#FF0070;
  --title-3-color:#000028;
  --title-3-background-color:#FF0070;
  --title-4-color:#000028;
  --title-4-background-color:#FF0070;
  --title-5-color:#DB00FF;
  --all-text-shadow:#FF0070;
}